{
  "singleQuote": true,
  "printWidth": 120,
  "importOrder": [
    "^@nestjs",
    "^@angular(?!/material|/cdk)",
    "^@angular/material",
    "^@angular/cdk",
    "^@ngrx",
    "^express",
    "^oidc-provider",
    "^rxjs",
    "^[^@.]",
    "<THIRD_PARTY_MODULES>",
    "^@nicolabello",
    "^@uauthn",
    "^\\.{2}/",
    "^\\./"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
