:host {
  display: flex;
}

.donut-ring {
  stroke: var(--mat-sys-surface-container-high);
}

.donut-segment {
  transform-origin: center;
  stroke: var(--mat-sys-primary);
}

.donut-text {
  font-family: inherit;
  line-height: 1;
  text-align: center;
  text-anchor: middle;
}

.donut-text-main {
  font-size: 0.5rem;
  transform: translateY(0.5rem);
  fill: var(--mat-sys-primary);
  font-weight: bold;
}

.donut-text-super {
  font-size: 0.15rem;
  transform: translateY(0.5rem);
  fill: var(--mat-sys-secondary);
}

.donut-text-sub {
  font-size: 0.12rem;
  transform: translateY(0.5rem);
  fill: var(--mat-sys-secondary);
}
