<header>
  <sw-donut [total]="rest()" [elapsed]="timer.elapsed()"></sw-donut>
</header>
<main>
  <ul>
    @for (item of timer.sets(); track idx; let idx = $index) {
    <li>
      <span>#{{ idx + 1 }}</span>
      <span>{{ formatSeconds(item) }}</span>
      <span>{{ executionTime(item) }}</span>
    </li>
    }
  </ul>
</main>
<footer>
  <!--<p><a (click)="timer.pause()">Pause</a></p>-->
  <button mat-stroked-button (click)="timer.reset()">Stop</button>
  <button mat-flat-button (click)="timer.addSet()">Next</button>
</footer>
