sw-donut {
  width: 75%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  li {
    display: flex;
    gap: 1rem;
  }
}
