:host {
  background-color: var(--mat-sys-surface-container);
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  width: 100%;
  height: 100%;
}

article {
  background-color: var(--mat-sys-background);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

header,
main,
footer {
  padding: 1.5rem;
}

footer {
  display: flex;
  gap: 1rem;

  & > * {
    flex: 1;
  }
}

form {
  display: flex;
  gap: 1rem;

  & > *:first-child {
    flex: 1;
  }

  & > *:last-child {
    flex: 0.5;
  }
}

sw-donut {
  width: 75%;
  margin: 0 auto;
}

@media (width >= 40rem) {
  article {
    max-width: 37rem;
    margin: 1.5rem auto;
    border-radius: 1rem;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  }
}
