@use '@angular/material' as mat;

html,
body {
  height: 100%;
}

html {
  color-scheme: dark;

  @include mat.theme(
    (
      color: mat.$blue-palette,
      typography: (
        Roboto,
        'Helvetica Neue',
        sans-serif,
      ),
      density: 0,
    )
  );
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
}

.layout-container {
  background-color: var(--mat-sys-surface-container);
  display: flex;
  width: 100%;
  height: 100%;
}

.layout-content {
  background-color: var(--mat-sys-background);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  & > header,
  & > main,
  & > footer {
    padding: 1.5rem;
  }

  & > main {
    flex: 1;
    display: flex;
    overflow: auto;
  }

  & > footer {
    display: flex;
    gap: 1rem;

    & > * {
      flex: 1;
    }
  }
}

@media (width >= 40rem) {
  .layout-content {
    max-width: 37rem;
    margin: 1.5rem auto;
    border-radius: 1rem;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  }
}
